// В этом файле должны быть стили для БЭМ-блока main-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.main-nav {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  z-index: 10;


  // первый уровень
  &__list {
    position: fixed;
    left: 0;
    top: 94px;
    // top: 94px;
    width: 100%;
    $height: calc(100vh - 94px);
    height: $height;
    margin: 0;
    padding: 20px 40px;
    list-style: none;
    background-color: $white;
    overflow-y: auto;
    transform: translateY(-100vh);
    // animation: openMenu 1s ease-in 1;
    // animation-fill-mode: both;

    &:after {
      @media (min-width: $screen-md) {
        position: absolute;
        z-index: -1;
        bottom: -11px;
        right: -45px;
        content: "";
        display: block;
        width: 65px;
        height: 30px;
        background: url(../img/clew.svg) no-repeat center center;
        background-size: 65px 30px;
      }
    }

    &::before {
      @media (min-width: $screen-md) {
        position: absolute;
        bottom: -38px;
        right: 20px;
        content: "Творческая студия любителей рукоделия приглашает Вас";
        display: block;
        width: auto;
        height: 30px;
        color: $gray-light;
      }

      @media (min-width: $screen-lg) {
        right: 30px;
      }
    }

    // настольный вид списка
    @media (min-width: $screen-md) {
      position: relative;
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-end;
      width: auto;
      height: auto;
      padding: 0;
      margin: 0;
      top: inherit;
      left: inherit;
      transform: translateY(0);
      overflow-y: visible;
    }

  }

  &__item {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;

    &::before {
      @media (min-width: $screen-md) {
        position: absolute;
        bottom: -1px;
        left: 0;
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: $second-color;
      }
    }

    &:hover::before {
      @media (min-width: $screen-md) {
        background-color: $main-color;
      }
    }

    &.active::before {
      @media (min-width: $screen-md) {
        background-color: $main-color;
      }
    }

    &:hover a,
    &.active a {
      color: $second-color;
    }

    @media (min-width: $screen-md) {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 0;
      padding-bottom: 0;
    }

    @media (min-width: $screen-lg) {
      padding-left: 30px;
      padding-right: 30px;
    }

  }

  &__link {
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
    color: inherit;

    &:hover,
    &:focus {
      text-decoration: none;
    }

    @media (min-width: $screen-md) {
      font-size: 15px;
      text-decoration: none;
      text-transform: uppercase;
      color: $title-color;
    }
  }

  // переключатель

  &__toggler {
    display: inline-block;
    padding: 0;
    background: none;
    border: none;

/*     .no-js & {
  display: none;
} */

    @media (min-width: $menu-desktop-width) {
      display: none;
    }
  }

  @media (min-width: $screen-md) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

}
