
// Make viewport great again (responsive)
// http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@at-root {

  @-ms-viewport { // stylelint-disable-line  at-rule-no-vendor-prefix
    width: device-width;
  }
}

.page { // html

  $block-name:                &; // #{$block-name}__element

  box-sizing: border-box;
  font-size: 14px;
  font-family: $font-family;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%; // stylelint-disable-line  property-no-vendor-prefix
  min-width: 320px;
  min-height: 100%;

  &__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &__content {
    flex-grow: 1;
  }

  &__footer-wrapper {
    flex-shrink: 0;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  // Типографика проекта — в блоке typo
  display: flex;           // Исправляем баг в IE для min-height and flexbox (flex-direction:column)
  flex-direction: column;  // и прижимаем footer в IE 10-11
  color: #000;
  background-color: #fff;
  margin: 0;
  min-height: 100%;

  background-image: url(../img/clubok-bg.jpg);
  background-repeat: repeat;
  background-size: 1920px 2428px;
  background-position: center top;

  /* background-image: url(../img/bobbin.png),
                    url(../img/heart.png),
                    url(../img/scissors.png);
  background-repeat: no-repeat;

  background-size: 92px 99px,
                   161px 130px,
                   338px 264px;

  background-position: 1% 120px,
                       100% 690px,
                       130% 2470px;

  @media (min-height: $screen-md) {
    background-image: url(../img/bobbin.png),
                      url(../img/heart.png),
                      url(../img/button.png),
                      url(../img/scissors.png);
    background-repeat: no-repeat;

    background-size: 92px 99px,
                     161px 130px,
                     99px 93px,
                     338px 264px;

    background-position: 1% 150px,
                         50% 570px,
                         97% 185px,
                         110% 2230px;
    }

    @media (min-height: $screen-lg) {
      background-image: url(../img/bobbin.png),
                        url(../img/heart.png),
                        url(../img/button.png),
                        url(../img/scissors.png);
      background-repeat: no-repeat;

      background-size: 92px 99px,
                       161px 130px,
                       99px 93px,
                       338px 264px;

      background-position: 5% 150px,
                           50% 570px,
                           97% 185px,
                           100% 1880px;
    }

    @media (min-height: $screen-xl) {
      background-image: url(../img/bobbin.png),
                        url(../img/heart.png),
                        url(../img/button.png),
                        url(../img/scissors.png);
      background-repeat: no-repeat;

      background-size: 92px 99px,
                       161px 130px,
                       99px 93px,
                       338px 264px;

      background-position: 5% 150px,
                           50% 570px,
                           97% 185px,
                           100% 1180px;
    } */
}

[tabindex='-1']:focus {
  outline: none !important; // stylelint-disable-line  declaration-no-important
}

// iOS 'clickable elements' fix for role='button'
[role='button'] {
  cursor: pointer;
}

// We love Safari
input[type='search'] {
  -webkit-appearance: textfield; // stylelint-disable-line  property-no-vendor-prefix
}

// Avoid 300ms click delay on touch devices that support the `touch-action` CSS property.
a,
// area,
button,
[role='button'],
input,
label,
select,
// summary,
textarea {
  touch-action: manipulation;
}

a:hover {
  text-decoration-skip: ink;
}

// We love EDGE! This is a browser!
svg {

  a &,
  button & {
    pointer-events: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.no-scroll {
   height: 100%;
   width: 100%;
   position: fixed;
   overflow: hidden;
}

.container {
  @include container (
    $xs-grid-gutter:  $grid-gutter-width, // $grid-gutter-width - default!
    $sm-grid-gutter:  $grid-gutter-width,
    $md-grid-gutter:  $grid-gutter-width,
    $lg-grid-gutter:  $grid-gutter-width,
    $xl-grid-gutter:  $grid-gutter-width
  );
}

.row {
  @include row (
    $xs-grid-gutter:  0, // $grid-gutter-width - default!
    $sm-grid-gutter:  0,
    $md-grid-gutter:  0,
    $lg-grid-gutter:  0,
    $xl-grid-gutter:  0
  );
}

.grid-standard {
  min-height: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $gray-lighter;
  // border: 1px solid red;

  @include col (
    $screen:  xs,
    $column:  $grid-columns,
    $columns: $grid-columns,
    $gutter:  20px
  )

  @include col (
    $screen:  sm,
    $column:  6,
    $columns: $grid-columns,
    $gutter:  20px
  )

  @include col (
    $screen:  md,
    $column:  4,
    $columns: $grid-columns,
    $gutter:  20px
  )

  @include col (
    $screen:  lg,
    $column:  3,
    $columns: $grid-columns,
    $gutter:  20px
  )

  @include col (
    $screen:  xl,
    $column:  3,
    $columns: $grid-columns,
    $gutter:  20px
  )
}

.openMenu {
  animation: openMenu 0.3s ease-out 1;
  animation-fill-mode: forwards;
}

.closeMenu {
  animation: closeMenu 0.3s ease-out 1;
  animation-fill-mode: forwards;
}

@keyframes openMenu {
  from { transform: translateY(-100vh); }
  to { transform: translateY(0); }
}

@keyframes closeMenu {
  from { transform: translateY(0); }
  to { transform: translateY(-100vh); }
}
