// В этом файле должны быть стили для БЭМ-блока contact-form, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.contact-form {

  $block-name:                &; // #{$block-name}__element

  form {

    @media (min-width: $screen-xl) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      // align-items: flex-start;
    }
  }

  fieldset {
    @media (min-width: $screen-xl) {
      width: 50%;
    }
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 800;
    color: $text-color;
  }

  label[for=user-message] {
    margin-top: 25px;
    margin-bottom: 20px;

    @media (min-width: $screen-xl) {
      margin-top: 0;
    }
  }

  .error-message {
    display: block;
    height: 24px;

    & > span {
      font-size: 12px;
      color: red;
    }
    // visibility: hidden;
  }

  input {
    width: 80%;
    height: 30px;
    padding-left: 10px;
    border: none;
    border-bottom: 1px solid $gray-lighter;

    @media (min-width: $screen-sm) {
      width: 60%;
    }

    @media (min-width: $screen-md) {
      width: 50%;
    }

    @media (min-width: $screen-lg) {
      width: 40%;
    }

    @media (min-width: $screen-xl) {
      width: 60%;
    }
  }

  textarea {
    width: 100%;
    min-height: 100px;
    padding: 10px;
    border: 1px solid $gray-lighter;
    background-color: $gray-lightest;

    @media (min-width: $screen-lg) {
      max-width: 540px;
    }

    @media (min-width: $screen-xl) {
      max-width: 770px;
    }
  }

  input:hover,
  textarea:hover,
  input:focus,
  textarea:focus {
    border-color: $second-color;
    background-color: $white;
    outline: none;
  }

  fieldset {
    margin: 0;
    padding: 0;
    border: none;
  }

  button {
    border: none;
  }

  &__field-wrapper {

    &--btn {
      text-align: left;

      @media (min-width: $screen-xl) {
        padding-top: 10px;
      }
    }

  }

  #lastname {
    display: none;
  }
}
