// В этом файле должны быть стили для БЭМ-блока calendar, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.calendar {
  width: 100%;
  min-height: 150px;
  margin-bottom: 20px;
  background-color: $gray-lightest;

  @include col (
    $screen:  xs,
    $column:  $grid-columns,
    $columns: $grid-columns,
    $gutter:  20px
  )

  @include col (
    $screen:  sm,
    $column:  $grid-columns,
    $columns: $grid-columns,
    $gutter:  20px
  )

  @include col (
    $screen:  md,
    $column:  6,
    $columns: $grid-columns,
    $gutter:  20px
  )

  @include col (
    $screen:  lg,
    $column:  6,
    $columns: $grid-columns,
    $gutter:  20px
  )

  @include col (
    $screen:  xl,
    $column:  5,
    $columns: $grid-columns,
    $gutter:  20px
  )

  $block-name:                &; // #{$block-name}__element

}
