// В этом файле должны быть стили для БЭМ-блока contacts, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.contacts {

  $block-name:                &; // #{$block-name}__element

  &__content {
    margin-bottom: 70px;

    @include col (
    $screen:  xs,
    $column:  $grid-columns,
    $columns: $grid-columns,
    $gutter:  0
  )

    @include col (
      $screen:  sm,
      $column:  $grid-columns,
      $columns: $grid-columns,
      $gutter:  0
    )

    @include col (
      $screen:  md,
      $column:  $grid-columns,
      $columns: $grid-columns,
      $gutter:  0
    )

    @include col (
      $screen:  lg,
      $column:  4,
      $columns: $grid-columns,
      $gutter:  20px
    )

    @include col (
      $screen:  xl,
      $column:  3,
      $columns: $grid-columns,
      $gutter:  20px
    )

    @include col-offset (
      $screen: lg,
      $column: 1,
      $columns: $grid-columns
    )

    @include col-offset (
      $screen: xl,
      $column: 1,
      $columns: $grid-columns
    )
  }

}
